<footer class="teal lighten-5">
    <br/><div class="container text-center text-muted">
        <ul class="list-unstyled">
            <li class="list-item"><a href=""><i class="material-icons">local_phone</i> +234 813 5497 430</a></li>
            <li class="list-item"><a href=""><!-- <i class="bi bi-envelope-fill"></i> --> adexsamuel@gmail.com</a></li>
        </ul>

        <!-- <ul class="list-unstyled text-center">
            <li class="list-item list-inline-item"><a href=""><i class="bi bi-facebook"></i></a></li>
            <li class="list-item list-inline-item"><a href=""><i class="material-icons">local_phone</i></a></li>
        </ul> -->
    </div>
    
</footer>
<div class="copyright">
    <br/><div class="container text-center mb-4">
        <p><span id="d"></span> &copy; Copyright Reserved</p>
        <small class="font-weight-bold">Designed & Developed By Adex-Tech</small>
    </div>
</div>


<script src="/bootstrap/js/Jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/materialize/js/materialize.min.js"></script>
<script src="/materialize/js/script.js"></script>
<script>
    let dat = document.getElementById('d');
    let dateString = new Date();
    dat.innerText = dateString.getFullYear();
    console.log(d);
</script>
</body>
</html>