<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error | Proteck </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/materialize/css/style.css">
    <style>
        .card{
            position: absolute;
            right: 0;
            left: 0;
            top: 9em;
        }
        .card h1{
            font-size: 90pt;
            color: rgb(5, 83, 83);
        }
        .card a{
            text-decoration: none;
            color: rgb(5, 83, 83);
        }
        .card .links{
            display: flex;
            justify-content: center;
            padding: 8px;
        }
        .links a{
            text-decoration: none;
            margin-right: 10px;
            font-weight: bold;
        }
        .text-center a{
            text-decoration: none;
            color: black;
        }
        .title span{
            color: rgb(3, 61, 61);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="container text-center">
                    <a href="/">
                        <h1 class="font-weight-bolder title">Pro<span>Teck</span></h1>
                    </a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="container-fluid text-center">
                            <h1 class="font-weight-bolder">404</h1>
                            <h4 class="font-weight-bold">Page Not Found, <a href="/" title="ProTeck">Go Back <i class="bi bi-home"></i></a></h4>
                        </div>
                    </div>
                    <div class="links">
                        <a href="/user/login" title="Login Page">LOGIN</a>
                        <a href="/user/register" title="Sign Up Page">REGISTER</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <!-- <div class="bg-dark">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam iusto vel tempore mollitia architecto aliquid dolore placeat doloremque eaque quo?</p>
            </div> -->
        </div>
    </div>
</body>
</html>